* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb1ec;
}

.container {
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc2c1;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1), 5px 5px 1px rgba(0, 0, 0, 0.1),
    10px 10px 1px rgba(0, 0, 0, 0.1);
}

.box1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 h1 {
  text-transform: uppercase;
  margin-left: 20px;
  padding: 5px 15px;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #bbb1ec;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1), 5px 5px 1px rgba(0, 0, 0, 0.1),
    10px 10px 1px rgba(0, 0, 0, 0.1);
}

.container h3 {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  word-spacing: 4px;
}

.box2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box2 button {
  padding: 4px 10px;
  background-color: #bbb1ec;
  border: none;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1), 5px 5px 1px rgba(0, 0, 0, 0.1),
    10px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

#input {
  width: 300px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: #ffc2c1;
}

.box3 {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.box3::-webkit-scrollbar {
  display: none;
}

.listitem {
  width: 100%;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px 37px;
  list-style-position: inside;
  background-image: url(image/image2.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px;
  list-style: none;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box4{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.button {
  padding: 5px 20px;
  background-color: #bbb1ec;
  border: none;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1), 5px 5px 1px rgba(0, 0, 0, 0.1),
    10px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 530px) {
  .box1 h1 {
    font-size: 25px !important;
  }
  #input {
    width: 200px !important;
  }
  .box2 button {
    letter-spacing: 0px !important;
    padding: 5px 5px !important;
  }
  .box4{
    margin-top: 10px;
    width: 100%;
  }
  .listitem{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .box1 h1 {
    font-size: 20px !important;
  }
  #input {
    margin-top: 10px;
    width: 300px !important;
  }
  .box2 {
    flex-wrap: wrap !important;
  }
  .box2 button {
    margin-top: 10px;
    letter-spacing: 0px !important;
    padding: 5px 3px !important;
  }
}

@media screen and (max-width: 355px) {
  #input {
    width: 260px !important;
  }
}
